@media screen and (max-width: 1200px) {
    .name-course-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .col-7.progress-bar-box {
        display: none;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .navbar-toggler {
        border-color: rgb(0, 0, 0);
    }

    .form-check-label {
        margin-left: 5%;
    }

    .select-topic-search-mobile {
        display: auto;
    }

    .select-topic-search {
        display: none;
    }

    .row.paginator {
        margin-bottom: 25%;
        margin-left: 26px;
    }

    .search_result {
        margin-left: 26px;
    }

    .pagination.justify-content-end {
        margin-left: 40%;
    }

}


@media screen and (min-width: 800px) {
    .side-bar-filter {
        display: none;
        z-index: 2;
        position: fixed;
        top: 50%;
    }

}

@media screen and (max-width: 900px) {
    .col-2.filter_checkbox {
        display: none;
    }

    .right-side {
        display: none;
    }

    .pagination.justify-content-end {
        margin-left: auto;
        margin-right: auto;
    }

    .course-detail .time_to_learn {
        display: none;
    }

    .col-3.detail-title.level {
        margin-right: 5%;
        border-right: 1px;
    }

    .avt-img {
        visibility: hidden;        
    }

    .avt-teacher-img{
        display: none;
    }

    label.open i {
        margin-left: 0px;
        margin-top: 2%;
    }

    ul.pagination.justify-content-end {
        margin-left: 30px;
    }


    .submit-form-search.search-bar {
        height: 100%;
        padding: 15.5% 5%;
        width: 100%;
        background-color: white;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-width: 1px;
        border-top: 1px;
    }

    .row.paginator{
        margin-left: 25%;
    }

}


@media screen and (max-width: 587px) {
    .search-query {
        margin-left: 5%;
    }

    .search-button {
        margin-left: 8%;
    }

    #select-topic {
        margin: 0px;
        width: 100%;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 2% 5%;
    }

    .submit-form-search.search-bar {
        padding: 3.5% 4%;
        background-color: #002fff;
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width: 50px;
        border-radius: 5px;
        margin-left: 40%;
        margin-top: 1%;
        padding-left: 17px;

    }

    .lookup-icon {
        padding-left: 2%;
        padding-right: 2%;
        color: #ffffff;
    }
    .row.paginator{
        margin-left: 15%;
    }

}