{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<title>Register</title>


	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" href="{% static 'assets/css/register.css' %}">
</head>

<body>
	<div class="wrapper">
		<h2>Registration</h2>
		<form action="#" method="POST" id="registrationForm">
			{% csrf_token %}
			<div class="input-box">
				<input type="text" placeholder="Enter your username" name="username" id="username" required>
			</div>
			<div class="input-box">
				<input type="text" placeholder="Enter your fullname" name="full_name" id="full_name" required>
			</div>
			<div class="input-box">
				<input type="text" placeholder="Enter your email" name="email" id="email" required>
			</div>
			<div class="input-box">
				<input type="password" placeholder="Create password" id="password" name="password" required>
			</div>
			<div class="input-box">
				<input type="password" placeholder="Confirm password" name="confirm_password" id="confirm_password"
					required>
			</div>
			<div class="form-group">
				<label id="label-role" for="type">Is teacher?</label>
				<br>
				<select class="form-select form-select-lg mb-2" aria-label="Default select example" name="type"
					id="type">
					<option class="option-role" value="student">Student</option>
					<option class="option-role" value="teacher">Teacher</option>
				</select>
			</div>

			<div class="input-box button" id="btnSubmit">
				<input type="Submit" id="input-submit" Register Now">
			</div>
		</form>
		{% if message %}
		<div class="form-group">
			<div class="alert alert-danger" role="alert">
				{{ message }}
			</div>
		</div>
		{% endif %}
	</div>
	<script src="{% static 'assets/js/script.js' %}"></script>
</body>
</html>
{%endblock%}