{% extends "base.html" %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}

<form method="POST" class="form-horizontal">
	{% csrf_token %}
	<div class="mx-auto" style="width: 400px;">

		<div class="col-xs-8 col-xs-offset-4">
			<h2 style="text-align:center;">SIGN UP</h2>
		</div>
		<hr />
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" class="form-control" name="username" id="username" placeholder="Enter Username" Required>
		</div>
		<div class="form-group">
			<label for="fanme">Full Name</label>
			<input type="text" class="form-control" name="full_name" id="full_name" placeholder="Enter Full Name"
				Required>
		</div>
		<div class="form-group">
			<label for="email">Email address</label>
			<input type="email" class="form-control" name="email" id="email" placeholder="Enter email" Required>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" id="password" class="form-control" name="password" id="password"
				placeholder="Enter Password" onChange="onChange()" Required>
		</div>
		<div class=" form-group">
			<label for="confirm_password">Confirm Password</label>
			<input type="password" id="confirm_password" class="form-control" name="confirm_password"
				id="confirm_password" onChange="onChange()
				placeholder="Confirm Your Password" Required>
			<span id='message'></span>
		</div>
		<div class="form-group">
			<label for="type">Is teacher?</label>
			<br>
			<select class="form-select" name="type" id="type">
				<option value="student">Student</option>
				<option value="teacher">Teacher</option>
			</select>
		</div>
		<button type="submit" id="btnSubmit" class="btn btn-primary" disabled>SIGNUP</button>

	</div>
</form>
{% if message %}
<div class="form-group">
	<div class="alert alert-danger" role="alert">
		{{ message }}
	</div>
</div>
{% endif %}
{% endblock %}

{% block js %}
<script src="{% static '/assets/js/script.js' %}"></script>
{% endblock %}