.container{
    margin-top: 5%;
}

label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    display: block;
}

select {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.btn-primary {
    
}

select:focus {
    outline: none;
    box-shadow: 0 0 5px #ccc;
}

