.body-exam{
    margin-top: 8%;
    margin-bottom: 25%;
}

.description{
    text-align: center;
}


.answer{
    margin-left: 2%;
}

.question_answer{
    margin-top: 1%;
}

.question_answer{
    margin-bottom: 4%;
}