{% extends "base.html" %}
{% load static %}

{% block title %}
Summary
{% endblock %}

{% block css %}
<!-- Custom styles for this template -->
<link href="{% static '/assets/css/style.css' %}" rel="stylesheet" />
<!-- responsive style -->
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/summary.css' %}">
{% endblock %}

{% block content %}
<div class="top_container">
  <!-- header section strats -->
  {% include 'header.html' %}
  <section class="hero_section ">
    <div class="hero-container container">
      <div class="hero_detail-box">
        <h3>
          Welcome Back

        </h3>

        <p>
          There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
          some form, by injected humour, or randomised
        </p>
        <div class="hero_btn-continer">
          <a href="/course/" class="call_to-btn btn_white-border">
            <span>
              Find your course
            </span>
            <img src="{% static '/assets/images/right-arrow.png' %}" alt="">
          </a>
        </div>
      </div>
      <div class="hero_img-container">
        <div>
          <img src="{% static '/assets/images/hero.png' %}" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
</div>
<!-- end header section -->


<!-- about progress -->

<section class="landing_section layout_padding">
  <div class="container">
    <h2 class="main-heading">
      Your Progress
    </h2>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="progress-title">HTML</h3>
          <div class="progress">
            <div class="progress-bar" style="width:65%; background:#97c513;">
              <div class="progress-value">65%</div>
            </div>
          </div>
          <h3 class="progress-title">CSS</h3>
          <div class="progress">
            <div class="progress-bar" style="width:100%; background:#f2545b;">
              <div class="progress-value">100%</div>
            </div>
          </div>
          <h3 class="progress-title">JAVASCRIPT</h3>
          <div class="progress">
            <div class="progress-bar" style="width:75%; background:#4286f4;">
              <div class="progress-value">75%</div>
            </div>
          </div>
          <h3 class="progress-title">BOOTSTRAP</h3>
          <div class="progress">
            <div class="progress-bar" style="width:30%; background:#21ff63;">
              <div class="progress-value">30%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- about section -->
  <section class="landing_section layout_padding">
    <div class="container">
      <h2 class="main-heading">
        Free Multipurpose Responsive

      </h2>
      <h2 class="main-heading number_heading">
        Landing Page 2019

      </h2>
      <p class="landing_detail text-center">
        There are many variations of passages of Lorem Ipsum available, but the majority There are many variations of
        passages of Lorem Ipsum available, but the majority h

      </p>
    </div>
  </section>

  {% endblock content %}