.cover_img {
    height: auto;
    object-fit: cover;
}

.topic-intro {
    padding: 0px;
}

.teacher_cover_img {
    width: 500px;
    height: 500px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000   ' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.card-img-top {
    width: 250px;
    height: 250px;
}


.top-topic-div{
    text-align: center;
}

@media (max-width: 1000px) {
    .navbar-toggler {
        background-color: gray;
    }

    .d-flex.ml-auto.flex-column.flex-lg-row.align-items-center{
        margin-top: 3%;
    }
}


@media (max-width:1000px) and (min-width: 600px){
    .card-img-top {
        width: 150%;
    }

    .carousel-control-next-icon{
        margin-top: -100%;
    }

    .carousel-control-prev-icon{
        margin-top: -100%;
    }
}


@media (max-width:600px) {
    .card-img-top {
        width: 90px;
        height: 90px;
        object-fit: cover;

    }
    .carousel-control-next-icon{
        margin-top: -460%;
    }

    .carousel-control-prev-icon{
        margin-top: -460%;
    }
    
    .top-course-div{
        text-align: center;
    }
    #carouselExampleIndicators > div.carousel-inner > div.carousel-item.active > div{
        padding-left: 0px;
        padding-right: 0px;
    }
}