{% extends "base.html" %}
{% load static %}

{% block title %}
{{object.name_lesson}}
{% endblock %}

{% block css %}
<!-- Custom styles for this template -->
<link href="{% static '/assets/css/style.css' %}" rel="stylesheet" />
<!-- responsive style -->
<link rel="stylesheet" href="{% static 'assets/css/summary.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://code.jquery.com/jquery-3.3.1.slim.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static 'assets/css/lesson.css' %}">
{% endblock %}

{% block content %}
{% include 'header.html' %}
<div class="body">
  <div id="body-overlay"></div>
  <nav class="lesson-menu" role="navigation">
    <ul>
      <h5 class="main-heading number_heading">Lesson List</h5>

      {% for lesson in lesson_complete %}
      <a style="color: black;" href="/study/lesson/{{lesson.lesson.id}}/">
        <div class="lesson-item">

          <li>{{lesson.lesson}} &#x2713;</li>

        </div>
      </a>
      {% endfor %}
      {% for lesson in lesson_incomplete %}
      <div class="lesson-item">
        <a style="color: black;" href="/study/lesson/{{lesson.id}}/">
          <li>{{lesson.name_lesson}}</li>
        </a>
      </div>
      {% endfor %}
      <h5 class="main-heading number_heading">Exam List</h5>

      {% for exam in exams %}
      <a style="color: black;" href="/study/exam/{{exam.id}}/">
        <div class="lesson-item">

          <li>{{exam}}</li>

        </div>
      </a>
      {% endfor %}
    </ul>
  </nav>
  <button id="open-menu" class="btn btn-secondary"><i class="far fa-arrow-alt-circle-right"></i></button>

  <div class="container content-body">
    <div class="row title">
      <div class="col-sm">
        <h2 class="main-heading number_heading">
          {{ object.name_lesson }}
        </h2>
      </div>
    </div>
    <div class="row video">
      <div class="col-sm d-flex justify-content-center">
        <p>
          {{ object.description }}
        </p>
      </div>
    </div>
    <div class="row video">
      <div class="col-sm d-flex justify-content-center">
        {% if object.video %}
        <video id="lesson-video" width="860" height="540" controls>
          <source src="{{ object.video.url }}" type="video/mp4">
        </video>
        {% endif %}
      </div>
    </div>
    <div class="row arrow">
      <div class="col d-flex justify-content-center">
        <nav aria-label="Page navigation example">
          <ul class="pagination other-lesson">
            {% if previous %}
            <li class="page-item"><a class="page-link" href="/study/lesson/{{ previous }}/">Previous</a></li>
            {% else %}
            <li class="page-item"><a class="page-link">Previous</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="/study/lesson/{{ object.id }}/">{{object.index}}</a></li>
            {% if next %}
            <li class="page-item"><a class="page-link" href="/study/lesson/{{ next }}/">Next</a></li>
            {% else %}
            <li class="page-item"><a class="page-link">Next</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
{% include 'footer.html' %}
{% endblock content %}

{% block js %}
<script>
  $(document).ready(function () {
    const video = $('video#lesson-video')[0];
    const printed = false;
    $(video).on('timeupdate', function () {
      const watchedPercent = (this.currentTime / this.duration) * 100;
      if (watchedPercent >= 90 && !printed) {
        const form = new FormData();
        form.append("student", "{{ request.user.id }}");
        form.append("lesson", "{{ object.id }}");
        form.append("csrfmiddlewaretoken", "{{ csrf_token }}");
        const settings = {
          "url": "http://127.0.0.1:8000/course/lesson_learn",
          "method": "POST",
          "timeout": 0,
          "processData": false,
          "mimeType": "multipart/form-data",
          "contentType": false,
          "data": form
        };
        $.ajax(settings).done(function (response) {
          console.log(response);
          printed = true;
        });
      };      
    });
  });
</script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static '/assets/js/lesson.js' %}"></script>
{% endblock %}